.body {
    background-image: url('https://asset.gecdesigns.com/img/background-templates/abstract-navy-red-background-design-sr17012401-1705501852665-cover.webp'); /* Define a imagem de fundo como uma URL */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área do elemento */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-attachment: fixed; /* Faz com que a imagem de fundo permaneça fixa durante o rolar da página */
    height: 100vh; /* Define a altura do elemento como 100% da altura da janela de visualização */
    color: white; /* Define a cor do texto como branca */
    font-family: Arial, sans-serif; /* Define a fonte principal como Arial, com sans-serif como alternativa genérica */
    font-size: 15px; /* Define o tamanho base da fonte para 16 pixels */
    line-height: 1.6; /* Define o espaçamento vertical entre as linhas do texto */
    margin: 0; /* Remove as margens externas padrão do navegador */
    padding: 0; /* Remove os espaçamentos internos padrão do navegador */
    text-align: center; /* Centraliza horizontalmente todo o conteúdo de texto */

    .inputs{
        position: absolute; /* Define a posição como absoluta para permitir o posicionamento em relação ao elemento pai */
        width: 25%; /* Define a largura dos inputs como 100% da largura do contêiner pai */
        height: 37%; /* Define a altura dos inputs como 100% da altura da janela de visualização */
        top: 40%; /* Posiciona os inputs a 50% da altura do contêiner pai */
        left: 50%; /* Posiciona os inputs a 50% da largura do contêiner pai */
        transform: translate(-50%, -50%); /* Centraliza os inputs na tela, movendo-os para cima e para a esquerda em 50% de sua própria largura e altura */
        border-radius: 50px;
        border: 2px solid rgb(184, 3, 3); /* Define a borda dos inputs como branca com 2 pixels de espessura */
        padding: 20px;

        .emailfield{
            position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto dos elementos filhos */
            color: brown;
            font-size: large;
            font-weight: bold; /* Define o peso da fonte como negrito */
            .label{
                position: relative; /* Define a posição como absoluta para permitir o posicionamento em relação ao elemento pai */
                top: 10px; /* Posiciona o rótulo no topo do elemento pai */
                transform: translateY(-50%); /* Move o rótulo para cima em 50% de sua própria altura */
                transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades durante 0.3 segundos */
            }
            .input{
                background-color: transparent; /* Define o fundo do campo de entrada como transparente */
                color: white; /* Define a cor do texto dentro do campo de entrada como branca */
                font-size: large; /* Define o tamanho da fonte dentro do campo de entrada como grande */
            }
        
        }
        .passwordfield{
            position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto dos elementos filhos */
            color: brown;
            font-size: large;
            font-weight: bold; /* Define o peso da fonte como negrito */
            .label{
                position: relative; /* Define a posição como absoluta para permitir o posicionamento em relação ao elemento pai */
                top: 10px; /* Posiciona o rótulo no topo do elemento pai */
                transform: translateY(-50%); /* Move o rótulo para cima em 50% de sua própria altura */
                transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades durante 0.3 segundos */
            }
            .input{
                background-color: transparent; /* Define o fundo do campo de entrada como transparente */
                color: white; /* Define a cor do texto dentro do campo de entrada como branca */
                font-size: large; /* Define o tamanho da fonte dentro do campo de entrada como grande */
            }

        }
        .robofield{
            position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto dos elementos filhos */
            color: brown;
            font-size: large;
            font-weight: bold; /* Define o peso da fonte como negrito */
            .label{
                position: relative; /* Define a posição como absoluta para permitir o posicionamento em relação ao elemento pai */
                top: 10px; /* Posiciona o rótulo no topo do elemento pai */
                transform: translateY(-50%); /* Move o rótulo para cima em 50% de sua própria altura */
                transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades durante 0.3 segundos */
                
            }
            .input{
                margin: 0px 0px -5px -5px; /* Adiciona uma margem negativa de 5 pixels em todas as direções */
                background-color: transparent; /* Define o fundo do campo de entrada como transparente */
                color: brown; /* Define a cor do texto dentro do campo de entrada como branca */
                font-size: large; /* Define o tamanho da fonte dentro do campo de entrada como grande */
            }
            
        }
        .capchafield{
            position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto dos elementos filhos */
            color: brown;
            font-size: large;
            font-weight: bold; /* Define o peso da fonte como negrito */
            margin-bottom: 10px; /* Adiciona uma margem inferior de 10 pixels */
            .label{
                position: relative; /* Define a posição como absoluta para permitir o posicionamento em relação ao elemento pai */
                top: 10px; /* Posiciona o rótulo no topo do elemento pai */
                transform: translateY(-50%); /* Move o rótulo para cima em 50% de sua própria altura */
                transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades durante 0.3 segundos */
            }
            .input{
                background-color: transparent; /* Define o fundo do campo de entrada como transparente */
                color: white; /* Define a cor do texto dentro do campo de entrada como branca */
                font-size: large; /* Define o tamanho da fonte dentro do campo de entrada como grande */
            }
        }
    }
}